$color-primary-red: hsl(1, 90%, 64%);
$color-primary-blue: hsl(219, 85%, 26%);


$color-content-100: hsl(0, 0%, 100%);
$color-content-200: hsl(210, 60%, 98%);
$color-content-300: hsl(211, 68%, 94%);
$color-content-400: hsl(205, 33%, 90%);
$color-content-500: hsl(219, 14%, 63%);
$color-content-600: hsl(219, 12%, 42%);
$color-content-700: hsl(224, 21%, 14%);